:root {
  --primary-text: #333;
  --secondary-text: #fafaff;
  --tertiary-text: #8f2a22;
  --showcase-underlay: #33333326;
  --primary-bg: #fafaff;
  --secondary-bg: #fafaffd9;
  --tertiary-bg: #ede9e9;
  --lightbox-bg: #333;
  --fade-in-bg: #33333380;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: europa, sans-serif;
  background: var(--primary-bg);
  line-height: 1.1;
  /* background-color: #333; */
}

h1 {
  color: var(--secondary-text);
  font-size: 6rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.2rem;
}

h2 {
  color: var(--primary-text);
  font-size: 2.5rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.25rem;
}

h5 {
  color: var(--secondary-text);
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
}

h6 {
  color: var(--primary-text);
  font-size: 0.75rem;
  font-weight: 300;
  font-style: normal;
}

p {
  letter-spacing: 0.1rem;
}

a {
  color: var(--primary-text);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-height: 100px;
  margin-top: 1.45rem;
}

footer h6 {
  padding: 4rem;
  color: var(--primary-text);
}

footer hr {
  width: 100%;
}

/* ///////////////////////////////////////////////// */
/* utilities */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  opacity: 0;
  z-index: 1;
  transition: all 0.75s ease-out;
}

.contact__blur {
  z-index: 0 !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  height: 100%;
  margin: 0rem 0.22rem;
  overflow: hidden;
  z-index: 0;
}

.container-logo {
  display: block;
  z-index: 10;
  transform: scale(100%);
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0 2.5rem;
  height: 100%;
  z-index: 2;
}

.nav-item {
  transition: all 0.25s ease;
}

.navigation-contact {
  margin-right: 3.55rem;
}

.nav-small-screen {
  display: none;
  z-index: 10000;
}

.photo-section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.active {
  color: var(--tertiary-text) !important;
}

.lazy-blur {
  filter: blur(20px);
}

[show_spacer] {
  display: none;
}

/* ///////////////////////////////////////////////// */
/* showcase */
#showcase {
  position: relative;
  background: var(--showcase-underlay);
  height: 100vh;
}

#showcase:before {
  position: absolute;
  background: url('../img/home/steamclock-gastown-home.jpg') no-repeat center
    center/cover;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase h1 {
  text-shadow: 0.05rem 0.05rem var(--primary-text);
}

#showcase h5 {
  text-align: right;
  text-shadow: 0.05rem 0.05rem var(--primary-text);
  transform: translateX(10%);
}

/* ///////////////////////////////////////////////// */
/* contact page */
#contact {
  overflow-x: hidden;
  /* animation: fade-in 500ms forwards ease-out; */
}

#contact .contact,
#success .success {
  position: relative;
  padding: 0 4rem;
  z-index: 1;
}

.contact .row,
.success .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 2.5 rem 0;
}

.contact .column,
.success .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  flex-shrink: 1;
}

.contact .column-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
  flex-shrink: 2;
}

.contact .column .column-1,
.contact .column .column-2,
.success .column .column-2 {
  height: 100%;
}

.contact .column-1 img {
  max-width: 550px;
  height: auto;
  margin: auto;
}

.contact .column-2,
.success .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 100%;
  flex: 1;
  flex-shrink: 1;
  padding: 6rem 3rem;
  min-width: 600px;
}

.contact-header {
  text-align: center;
  margin-bottom: 1.2rem;
}

.form {
  background: linear-gradient(to top right, #e8e8ed, var(--primary-bg));
  width: 100%;
  padding: 2rem;
  border-radius: 5px;
}

.form-element {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.form-element label {
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
}

.form-element input {
  height: 2rem;
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--lightbox-bg);
  background-color: var(--primary-bg);
  padding: 0 0.5rem;
}

.form-element textarea {
  border-radius: 5px;
  background-color: var(--primary-bg);
  padding: 0.5rem;
}

.submit {
  text-align: center;
  margin-top: 1rem;
}

.btn {
  font-size: 1rem;
  border-radius: 5px;
  border-width: 1px;
  padding: 0.5rem 2.5rem;
  background-color: var(--primary-bg);
  margin: 0 1rem;
  cursor: pointer;
}

.contact h4,
.contact p,
.contact a,
.success h4,
.success p {
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

.contact h4,
.success h4 {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.contact a {
  display: block;
  padding-bottom: 1rem;
  cursor: pointer;
}

.contact p,
.contact a,
.success p {
  font-size: 1rem;
}

/* ////////////// --- animations --- /////////////// */
/* page transitions - fade in*/
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    /* background-color: var(--primary-bg); */
  }
}

/* -- home page */
#home {
  background-color: var(--lightbox-bg);
  animation: fade-in 500ms forwards ease-out;
}

/* -- contact page */
.contact {
  animation: fade-in 500ms forwards ease-out;
}

/* -- photo pages */
.title {
  animation: fade-in 750ms forwards ease-in-out;
}

#cars main::before,
#people main::before,
#urban main::before,
#seaside main::before,
#korea main::before {
  opacity: 0;
  animation: fade-in 1s forwards ease-in-out 100ms;
}

/* page transitions - home page elements */
@keyframes heading {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#showcase .container-logo h1 {
  opacity: 0;
  transform: translateY(-10vh);
  animation: heading 1s forwards ease-out;
}

@keyframes nav {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hamburger {
  opacity: 0;
  transform: translateX(10vw);
  animation: nav 1s forwards ease-out;
}

@keyframes subheading {
  to {
    opacity: 1;
    transform: translateX(10%);
  }
}

#showcase .container-logo h5 {
  opacity: 0;
  transform: translateX(10vw);
  animation: subheading 1s forwards ease-out 1s;
}

/* page transitions - contact elements */
@keyframes contact-left {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.column-2 {
  opacity: 0;
  transform: translateX(-10vw);
  animation: contact-left 1s forwards ease-in-out;
}

@keyframes contact-right {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.column-1 {
  opacity: 0;
  transform: translateX(10vw);
  animation: contact-left 1s forwards ease-in-out;
}

.success {
  height: 100vh;
}
